ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #A3968F;
    height: 75px;
    width: 100%;
    vertical-align: center;
    display: flex;
    box-shadow: 0 8px 10px 2px grey;
}

li.navbar {
    float: center;
    padding-bottom: 1vh;
    margin-left: auto;
    margin-right: auto;
}
.left {
    float: left;
    font-family: "Georgia", Times, serif;
    font-size: large;
}
li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    vertical-align: center;
    padding-top: 1.5em;
    padding-left: 6vw;
    padding-right: 6vw;
    color: #FAF1E1;
}

li a:hover {
    background-color: white;
    color: black;
    height: 100%;
}

img.navbar {
    height: 2em;
    width: 2em;
}

